<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <img src="../images/matCat.jpg" usemap="#image-map" style="width:1200px;height: 500px">
        <map name="image-map">
                <area target="" alt="" title="Tuyến quan trắc 1" href="" id="tuyen1" class="myPopOver" coords="243,129,10" shape="circle" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Some content">
            </map>
    </div>

    <script>
        $(document).ready(function() {
            $('.myPopOver').popover();
        });
    </script>

</body>

</html>