<!DOCTYPE HTML>
<html>
<head>  
<script>
window.onload = function () {
}
</script>
</head>
<body>
<div id="chartContainer" style="height: 100%; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<script>
function modifyData (data) {
	var newData = [];	
	for (var j = 1; j < 9; j ++) {
		var dataPoints = [];
		for (var i = 0; i < data.length; i++) {
			var tmp = {
				label: data[i].Time.substring(11, 19),
				y: data[i]['Temp_' + j]
			};
			dataPoints.push(tmp);
		}
		newData.push({
			type: 'line',
			dataPoints: dataPoints
		});
	}
	return newData;
}
(function() {
	setInterval(function(){ 
		$.ajax({
       		url: "http://localhost:3000/getData",
	        type: "GET",
	        success: function(data) {  
	          console.log(data); 
	          	if (!data.data.recordset) return;
	          	try {
	          		data.data.recordset = JSON.parse(data.data.recordset);
	          	} catch(e) {
	          	}
	            var newData = modifyData(data.data.recordset)
	            var chart = new CanvasJS.Chart("chartContainer", {
					animationEnabled: false,
					theme: "light2",
					title:{
						text: "QUAN TRẮC CÔNG TRÌNH"
					},
					axisY:{
						includeZero: false
					},
					data: newData
				});
				chart.render();
	        	},
	        error: function(data) {
	            console.log(data);
	        }
	    });
	}, 500);
})();
</script>
</body>
</html>