<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><img src="#" alt="Logo"></a>
            <a class="navbar-brand hidden" href="./"><img src="" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="<%= path === '/' ? 'active' : '' %>">
                    <a href="/"><i class="menu-icon fa fa-glass"></i>Tổng quan</a>
                </li>
                <li>
                    <a href="/BangBieu"><i class="menu-icon fa fa-table"></i>Bảng biểu</a>
                </li>
                <li class="<%= path === '/LichSuBangBieu' ? 'active' : '' %>">
                    <a href="/LichSuBangBieu"><i class="menu-icon fa fa-history"></i>Lịch sử bảng biểu</a>
                </li>
                <li>
                    <a href="/BaoCao"><i class="menu-icon fa fa-file"></i>Báo cáo</a>
                </li>
                <li>
                    <a href="/QuanTriNguoiDung"><i class="menu-icon fa fa-user"></i>Quản trị người dùng</a>
                </li>
            </ul>
        </div>
    </nav>
</aside>
<!-- /#left-panel -->