<div id="right-panel" class="right-panel">
    <header id="header" class="header">
        <div class="header-menu">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Thông tin thủy điện ALin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bố trí chung</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="../../images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa- user"></i>Admin</a><a class="nav-link" href="#"><i class="fa fa-power -off"></i>Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>